on fs
    wait /dev/block/bootdevice/by-name/splash2
    start dump-logs
    start teelogcat
    start debug-kernel

on post-fs-data
    start debug-kernel-2

on  fs-data
    start debug-kernel-3
        
service dump-logs /system/bin/logcat -b all -f /splash2/logcat-normal.txt -v threadtime
    class main
    user root
    group system
    disabled
	
service teelogcat /vendor/bin/tlogcat > /splash2/tlogcat.txt
    class late_start
    user root
    group system
    seclabel u:r:tlogcat:s0
	
service debug-properties /system/bin/sh -c "getprop > /splash2/debug.properties.txt"
    class main
    user root
    disabled
    oneshot

service debug-roottree /system/bin/sh -c "ls -la / > /splash2/debug.roottree.txt"
    class main
    user root
    disabled
    oneshot
	

service debug-kernel /system/bin/sh -c "cat /proc/kmsg > /splash2/debug.kernel.txt"
    class main
    user root
    disabled
    oneshot

service debug-kernel-2 /system/bin/sh -c "/system/bin/dmesg > /splash2/debug.kernel-2.txt"
    class main
    user root
    disabled
    oneshot
    
service debug-kernel-3 /system/bin/sh -c "cat /proc/kmsg > /splash2/debug.kernel-3.txt"
    class main
    user root
    disabled
    oneshot
