# Charger fix huawei
import /vendor/etc/init/${ro.bootmode}/init.${ro.bootmode}.rc

# Charger fix huawei
service charger /system/bin/offlinecharger -p
    class charger
    user root
    group root system
    critical
    seclabel u:r:charger:s0
